div {
  padding: 10px;
  border: 2px solid white;
  width: 500px;
  background: black;
}

label {
  display: inline-block;
  width: 200px;
}

input { 
  width: 200px;
  margin: auto;
}

body {
  margin-top: 100px;
  margin-left: 100px;
  color: #bcd0f7;
  background: #1A233A;
  left-margin: 20px;
}

h1 {
  background-color: black;
  width: 500px;
  border: 2px white solid;
  padding: 10px;
}
