* {
  padding: 0px;
  margin: 0px;
}

html,
body {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(150deg, #92ffc0, #002661);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: azure;
}

.container {
  position: absolute;

  height: 350px;
  width: 600px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  border-radius: 20px;
  background-color: #71b88e;
  overflow: hidden;
  box-sizing: border-box;
  opacity: 0;
  transition: 1s;
  box-shadow: 0px 1px 20px rgba(18, 12, 95, 0.575),
    0px 0px 20px rgba(55, 56, 146, 0.445) inset;
}

.container-show {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.title {
  margin-top: 30px;
  position: relative;
  height: 40px;
  width: 100%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
  transition: 0.4s;
}

.loginBox .title {
  color: white;
  text-shadow: 0px 0px 7px rgba(211, 195, 49, 0.9);
}

.input {
  width: 400px;
  height: 45px;
  position: relative;
  margin: 40px auto;
  transition: 0.4s;
}

input {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 15px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 45px;
  transition: 0.4s;
}

.loginBox input:focus {
  box-shadow: 0 0 10px rgba(55, 57, 146, 0.562);
}

.btn {
  height: 50px;
  width: 160px;
  position: relative;
  margin: -10px auto;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
}

/* .switchBox {
  position: absolute;
  height: 0px;
  width: 100%;
  clip-path: polygon(100% 50%, 50% 100%, 100% 100%);
  bottom: 0px;
  transition: 0.4s;
} */

/* .changeBtn {
  position: absolute;
  bottom: 30px;
  right: 40px;
  font-size: 20px;
  display: none;
  font-weight: 500;
} */

.loginBox input {
  caret-color: white;
  color: rgba(255, 255, 255, 0.8);
}

.loginBtn:hover {
  color: white;
  background-color: #57606f;
  box-shadow: rgba(0, 0, 0, 0.1);
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.boxSign {
  background-color: #71b88e;
  position: absolute;
  border-radius: 400px;
  width: 80px;
  height: 80px;
  float: right;
  right: 0px;
  bottom: -25px;
  font-size: 14px;
  line-height: 800px;
  text-align: center;
  color: rgba(255, 255, 255, 0.623);

  font-weight: bold;
  transition: 0.4s;
}

.boxLog {
  background-color: #133466;
  position: absolute;
  border-radius: 400px;
  width: 80px;
  height: 80px;
  float: left;
  left: -5px;
  bottom: -25px;
  font-size: 14px;
  line-height: 800px;
  text-align: center;
  color: rgba(255, 255, 255, 0.623);
  font-weight: bold;
  transition: 0.4s;
}

.boxSign:hover {
  width: 120px;
  height: 120px;
  bottom: -15px;
  right: -15px;
  line-height: 100px;
  font-size: 18px;
}

.boxLog:hover {
  width: 120px;
  height: 120px;
  bottom: -15px;
  left: -15px;
  line-height: 100px;
  font-size: 18px;
}

.switchBox:hover ~ .title {
  font-size: 24px;
}

.switchBox:hover ~ .input {
  width: 320px;
  height: 36px;
  transform: translate(0, -30%);
}

.switchBox:hover ~ .loginBtn {
  height: 40px;
  width: 128px;
  transform: translate(0, -30%);
  font-size: 12px;
}

.changeBtn:hover {
  text-shadow: 0px 0px 3px rgb(146, 171, 202);
  cursor: pointer;
  /* text-decoration: underline; */
}

.animate_login {
  transform: rotate(-90deg);
}

.animate_sign {
  transform: rotate(0deg) !important;
}

.loginBox {
  position: absolute;
  /* margin: 5px 5px 5px 5px; */
  height: 100%;
  width: 100%;
  transition: 0.4s;
  z-index: 1;
  transform-origin: 0 100%;
  background-color: #133466;
}

/* sign up page */

.signupBox {
  position: absolute;

  background-color: #71b88e;
  /* margin: 10px 15px 10px 15px; */
  height: 100%;
  width: 100%;
  transform-origin: 0 100%;
  transform: rotate(90deg);
  transition: 0.4s;
  z-index: 1;
}

.signupBox .title {
  text-shadow: 0 0 10px rgba(200, 200, 200, 0.8);
  font-weight: 500;
}

.toLogin {
  color: white;
}

.signupBox input {
  box-shadow: 0 0 3px black;
}

.red-btn {
  color: rgb(206, 50, 50);
}

.yellow-btn {
  color: rgb(224, 175, 42);
}

.green-btn {
  color: rgb(21, 136, 21);
}

.topBtn {
  position: absolute;
  margin: 100px, 5px, 5px, 5px;
}

.left {
  left: 10px;
  top: 10px;
  float: left;
}

.right {
  right: 10px;
  top: 10px;
  float: right;
}

/* change icon when hover */
.fas {
  width: 27px;
  box-sizing: border-box;
  height: 20px;
}
.fa-kiss-beam,
.fa-kiss-wink-heart {
  width: 21px;
  box-sizing: border-box;
  height: 20px;
}

.changeIcon > .fas + .fas,
.changeIcon:hover > .fas {
  display: none;
}
.changeIcon:hover > .fas + .fas {
  display: inherit;
}

.changeIcon > .fas + .fas,
.switchBox:hover + .topBtn > .changeIcon > .fas {
  display: none;
}

.switchBox:hover + .topBtn > .changeIcon > .fas + .fas {
  display: inherit;
}
